<!DOCTYPE html>
<html>
<head>
    <title>Macho eBay</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>
    <div class="hero">
        <h1 id="logo">MACHO EBAY</h1>
        <p class="subtitle">The strongest eBay in the pokemon store.</p>
    </div>
    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/selling">Selling</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>
    <div class="container">
        <div class="card">

        </div>
    </div>
    <script src="/static/js/selling.js"></script>
</body>
</html>
